body {
    background: #000000;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif ;
}

h3 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin: 25px;
}

h1{
    color: #000;
    text-align: center;
    margin-bottom: 25px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

img {
    width: 160%;
    height: 160px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
}
article {
    background: #f0f0f0;
    color: #000;
}
article:hover {
    transform: translateY(-5px);
}









