body  {
    background-color: rgb(46, 44, 42);
    color:rgb(255, 255, 255);
    font-family:rgb(108, 108, 108);
     text-align: center;
}

h3 {
    color:aliceblue;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}


h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
     text-align: center;
}

section {
   
    gap: 20px;
    text-align: center;
      
}

img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

article {
    background-color: rgb(81, 77, 77);
    color: rgb(3, 5, 7);
    text-align: center;
}

article:hover{
    transform:rotateY('-5px')
       

}
header{
    text-align: center;
}

footer{
    text-align: center;
}
section div{
    display: grid;
    grid-template-columns: repeat(auto-fit,280px );
    gap: 25px;
}     
header nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    text-align: 500;
}
article{
    background: rgb(#778899);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #53535306;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 400px;
}








}


























