body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(152, 146, 146);
    text-align: center;
    margin-bottom: 25px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
img {
    width: 100%;
    height: 160%;
    object-fit: cover;
border-radius: 8px;
margin-bottom: 10px;
}

article {
    background: #2a2a2a;
    color:aliceblue
}



















































































